{#
   title: buttons.html.twig 
    Author: Amal - P
    date: 2022-09-28 12:17:28
#}

<button type="{{ type }}" class="btn {% if theme %} btn-{{ theme }} {% endif %} {{ class }}">
    <span>
        {{ button_label }}
    </span>
</button>